<app-navbar></app-navbar>
<div class="main">
  <div class="agent__container">
    <div class="agent__left">
      <div *ngIf="uploadedFiles.length > 0" class="activity__container">
        <p style="font-weight: 500;">Activity: </p>
        <div>
          <p>- File Name: {{ uploadedFiles[uploadedFiles.length - 1].name }}</p>
          <p>- File Size: {{ uploadedFiles[uploadedFiles.length - 1].size }} bytes</p>
          <p>- File Type: {{ uploadedFiles[uploadedFiles.length - 1].type }}</p>
        </div>
      </div>      
      <div class="file__container">
        <modus-file-dropzone
          aria-Label="dropzone"
          description="Please upload your file here"
          dropzone-Height="175px"
          dropzone-Width="400px"
          label="Dropzone Label"
          multiple="true">
        </modus-file-dropzone>
      </div>
    </div>
    <div class="agent__right">
      <div class="chat__container">
        <app-chatbox [inputMessages]="messages" [session_id]="session_id" [access_token]="access_token"></app-chatbox>
      </div>
      <div class="input__footer">
          <modus-textarea-input
            class="input__feild"
            label="Textarea Input"
            placeholder="Placeholder"
            required
            [value]="newMessage"
            (valueChange)="onValueChange($event)"
            (keydown)="onKeyDown($event)">
          </modus-textarea-input>
        <div class="icon" (click)="onKeyDown($event)">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#6d90c9" class="mi-solid mi-paper-plane" viewBox="0 0 24 24">
            <path d="M20.533 12.908 5.838 19.69A2 2 0 0 1 3 17.874V14.5a2 2 0 0 1 2-2h9a.5.5 0 1 0 0-1H5a2 2 0 0 1-2-2V6.126A2 2 0 0 1 5.838 4.31l14.695 6.782a1 1 0 0 1 0 1.816"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>