.chatbox{
    border: 1px solid black;
    height: 23rem;
    background-color: white
}

.chatbox {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
 }
  
.message-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
 }

 .message-container p{
    margin-bottom: 0;
 }
  
.message {
    max-width: 70%;
    padding: 10px;
    margin: 5px 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

img{
    height: 175px;
    width: 185px;
    border-radius: 5px;
    margin-bottom: 5px;
}
  
.sender {
    align-self: flex-end;
    background-color: #dcf8c6;
    margin-right: 10px;
}
  
.receiver {
    align-self: flex-start;
    background-color: #fff;
    border: 1px solid #ccc;
}
  